# SQLite Database
viva.db

# Temporary audio files
temp_question.mp3
answer.wav

# Python cache files
__pycache__/
*.pyc

# Local environments
.venv/
venv/
ENV/


Miniconda3-latest-Linux-x86_64.sh
venv/
__pycache__/
*.pyc
*.wav
*.mp3
viva.db